.header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("../images/header-background.jpg") left center no-repeat;
  background-size: cover;
  height: 600px;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.8;
}

.vertical-decoration {
  top: 12%;
  width: 23px;
}

.details .vertical-decoration {
  top: 0;
  left: 0;
  width: 23px;
}

.details-2 .vertical-decoration {
  top: 0;
  right: 0;
  width: 23px;
}

.hr-heading {
  display: inline-block;
  width: 3.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--bs-primary);
  opacity: 1;
}

@media (max-width: 992px) {
  .display-3 {
    font-size: 50px;
  }
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("../images/header-background.jpg") center center no-repeat;
  }
  .lead {
    font-size: 16px;
  }
}
@media (max-width: 769px) {
  .header {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("../images/header-background.jpg") center center no-repeat;
  }
}
